@model IEnumerable<ManagingAccessService.Models.DbModels.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Организации</h1>

<p>@if (User.IsInRole("Администратор"))
    {
    <a asp-action="Create">Добавить</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Инн</th>
            <th>Огрн</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ogrn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (User.IsInRole("Администратор"))
                {
                    <a asp-action="Edit" asp-route-id="@item.OrganizationId">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.OrganizationId">Удалить</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
