@model List<ManagingAccessService.Models.DbModels.Employee>
<main>
    <h2 style="margin-left:20px">Наши сотрудники</h2>
    <table>
        <thead>
            <tr>
                <th>Полное имя</th>
                <th>Пол</th>
                <th>Дата рождения</th>
                <th>Статус</th>
                <th>Контактная информация</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@(employee.FullName ?? "Не указано")</td>
                    <td>@(employee.Gender ?? "Не указано")</td>
                    <td>@(employee.DateOfBirth?.ToString("dd.MM.yyyy") ?? "Не указано")</td>
                    <td>@(employee.Status ?? "Не указано")</td>
                    <td>
                        @foreach (var contact in employee.ContactInformations)
                        {
                            <p>Телефон: @(contact.Phone ?? "Не указано")</p>
                            <p>Email: @(contact.EmailAddress ?? "Не указано")</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Home/AddEmployee">Добавить нового сотрудника</a>
</main>
