@model List<ManagingAccessService.Models.DbModels.Employee>
<main>
    <h2 style="margin-left:20px">Наши сотрудники</h2>
    @foreach (var emp in Model)
    {
        <div class="employee-card">
            <p>@emp.EmployeeId</p>
            <p>@emp.FullName</p>
            <p>@emp.Gender</p>
            <p>@emp.DateOfBirth</p>
            <p>@emp.Identifier</p>
            <p>Контактная информация: @emp.ContactInformation</p>
            <p>Статус: @emp.Status</p>
        </div>
    }
</main>
