@model ManagingAccessService.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Current User Details</h2>

<table class="table">

    <tr>
        <th>FullName</th>
        <td>@Model.Employee.FullName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Account.Email</td>
    </tr>
    <tr>
        <th>Login</th>
        <td>@Model.Account.Login</td>
    </tr>
    <tr>
        <th>Employee Status</th>
        <td>@Model.Account.Status</td>
    </tr>
    <tr>
        <th>User Account Status</th>
        <td>@Model.Employee.ContactInformation</td>
    </tr>
</table>
